In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from datetime import datetime as dt
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
%matplotlib inline

In [21]:
data = pd.read_csv('train.csv')

In [22]:
data.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [23]:
plt.figure(figsize=(19,9))
sns.lineplot(x=data['date'], y=data['sales'])

AttributeError: module 'seaborn' has no attribute 'lineplot'