In [1]:
# 전날 종가와 다음날 시가 사이 수익률 비교 - 기초통계(평균, 중간값, 표준편차), 확률, 손익비
# 전날 종가에 사서 다음날 시가에 판다면?
import pandas as pd
from antQuant.utils import DataManager

In [2]:
stock = DataManager()

In [11]:
data = stock.read_data('AH_DB', 'adjdailyohlcv',['date', 'code', 'close', 'open'], conditions = {'date': "BETWEEN DATE ' 2016-01-01' AND DATE '2018-05-01'"})

In [12]:
data.date = pd.to_datetime(data.date)
data.head()

        date    code     close      open
0 2016-01-04  092040  31851.30  32642.60
1 2016-01-04  233190   4880.00   4880.00
2 2016-01-04  234070  17700.00  17700.00
3 2016-01-04  233990   3800.00   3800.00
4 2016-01-04  232680   4533.33   4273.33

In [13]:
data.set_index(['date', 'code'], inplace=True)
data.head()

                      close      open
date       code
2016-01-04 092040  31851.30  32642.60
           233190   4880.00   4880.00
           234070  17700.00  17700.00
           233990   3800.00   3800.00
           232680   4533.33   4273.33

In [20]:
import numpy as np

In [26]:
data['opend1'] = data['open'].groupby(level=1).shift(-1)
data.head()

                      close      open    opend1
date       code
2016-01-04 092040  31851.30  32642.60  31059.90
           233190   4880.00   4880.00   4880.00
           234070  17700.00  17700.00  17700.00
           233990   3800.00   3800.00   4370.00
           232680   4533.33   4273.33   4533.33

In [31]:
data.loc[('2016-01-05', '092040')].head()

close     33681.2
open      31059.9
opend1    33730.7
Name: (2016-01-05 00:00:00, 092040), dtype: float64

In [32]:
data['returns'] = np.log(data['close']/data['opend1'])
data.head()

                      close      open    opend1   returns
date       code
2016-01-04 092040  31851.30  32642.60  31059.90  0.025161
           233190   4880.00   4880.00   4880.00  0.000000
           234070  17700.00  17700.00  17700.00  0.000000
           233990   3800.00   3800.00   4370.00 -0.139762
           232680   4533.33   4273.33   4533.33  0.000000

In [33]:
len(data)

1415939

In [36]:
len(data[data['returns']>0])/len(data)

0.32846622354597044

In [38]:
len(data[data['returns']<=0])/len(data)

0.6702153129478036

In [43]:
returns = data[data['returns']!=np.inf]['returns']

In [44]:
len(returns[returns>0])/len(returns)

0.3268467326643039

In [47]:
len(returns[returns<0])/len(returns)

0.42810857146494524

In [46]:
returns.mean()

-0.000683720189859449

In [54]:
returns = returns.dropna()

In [55]:
len(returns[returns>0])/len(returns)

0.32749064742695283

In [56]:
len(returns[returns<0])/len(returns)

0.4289519803218603

In [58]:
len(returns[returns==0])/len(returns)

0.24355737225118684